<%- model_class = PessoaFisica -%>
<div class="page-header">
  <h1>Pessoas Físicas</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:cpf) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pessoa_fisicas.each do |pessoa_fisica| %>
      <tr>
        <td><%= link_to pessoa_fisica.id, pessoa_fisica_path(pessoa_fisica) %></td>
        <td><%= pessoa_fisica.cpf %></td>
        <td><%= pessoa_fisica.nome %></td>
        <td><%=l pessoa_fisica.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_pessoa_fisica_path(pessoa_fisica), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      pessoa_fisica_path(pessoa_fisica),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_pessoa_fisica_path,
            :class => 'btn btn-primary' %>
